# Core data handling
pandas>=2.0.0
numpy>=1.20.0
matplotlib>=3.5.0

# Time series forecasting
prophet>=1.1.1
statsmodels>=0.14.0  # For ARIMA models
tensorflow>=2.10.0   # For LSTM models
scikit-learn>=1.0.0  # For data preprocessing

# Data fetching
yfinance>=0.2.18

# Web app
streamlit>=1.29.0
plotly>=5.10.0

# Other utilities
tqdm>=4.62.0
